<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs mt-8" data-aos="fade-in">
      <div class="container">
        <h2>Contact Us</h2>
        <p>You're not going to hit a ridiculously long phone menu when you call us. Your email isn't going to the inbox abyss, never to be seen or heard from again. Fill Out the below form for any queries related to our services</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div data-aos="fade-up">
       <div style="width: 100%"><iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=445%20L%20Block%20Johar%20Town%20Lahore+(Farhan%20Iqbal%20Academy)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" allowfullscreen></iframe>
      </div>

      <div class="container" data-aos="fade-up">
        <div class="row mt-5">
          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>445 L-Block Johar Town, Lahore, Pakistan</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>farhaniqbalacademy@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+92 300 9499664</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">
            <%= form_for :contact, url: '/contacts', html: { class: "php-email-form" } do |f|%>
                <% flash.each do |type, msg| %>
                   <div class="p-4 alert alert-success" role="alert">
                    <i class="bi bi-check-circle-fill"></i>
                    <%= msg %>
                  </div>
                <% end %>
                <% if @contact.errors.any? %>
                <div class="p-4 alert alert-danger" role="alert">
                  <i class="bi bi-exclamation-triangle-fill"></i>
                  <%= @contact.errors.full_messages.first  %>
                </div>
                <% end %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <div class="row">
                <div class="col-md-12 form-group">
                  <label for='contact_name'>Name</label>
                  <%= f.text_field :name, class: 'form-control', placeholder:'Enter your Name'%>
                </div>
                <div class="col-md-12 form-group mt-3 mt-md-0">
                  <label for='contact_email'>Email</label>
                  <%= f.text_field :email, class: 'form-control', placeholder:'Enter a valid email address'%>
                </div>
                <div class="col-md-12 form-group mt-3 mt-md-0">
                  <label for='contact_phone_number'>Phone Number</label>

                  <%= f.phone_field :phone_number, class: 'form-control', placeholder:'Enter a valid phone number'%>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for='contact_message'>Message</label>
                <%= f.text_area :message, class: 'form-control', placeholder:'Enter your message' %>
              </div>
              <div class="text-center">
                <button type="submit">Send Message</button></div>
            <% end %>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main>
   <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="info-fill" viewBox="0 0 16 16">
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"></path>
      </symbol>
    </svg>