<!DOCTYPE html>
<html>
  <head>
    <title>Farhan Iqbal Academy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="<%= image_url('icon.png') %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Farhan Iqbal Academy, Experienced Teachers, Home Tution, Well Reputed, Studying for matric and fs">
    <meta name="description" content="">
    <title>Home</title>
    <meta name="generator" content="Nicepage 4.16.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <script type="application/ld+json">{
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "",
    "logo": "images/default-logo.png"}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Farhan Iqbal Academy">
    <meta property="og:type" content="website">
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="u-body u-xl-mode" data-lang="en">
    <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h5 class="logo me-auto"><%= link_to root_path do %><%= image_tag 'icon.png', height: '100px'%>Farhan Iqbal Academy<% end %></h5>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/images/logo.png"  class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><%= link_to 'Home', root_path, class: "#{active?('homes')}" %></li>
          <li><%= link_to 'About us', abouts_path, class: "#{active?('abouts')}"  %></li>
          <li><%= link_to 'Classes', classes_path, class: "#{active?('classes')}"  %></li>
          <li><%= link_to 'Events', events_path, class: "#{active?('events')}"  %></li>
          <li><%= link_to 'Admissions', admissions_path, class: "#{active?('admissions')}"  %></li>
          <li><%= link_to 'Gallery', gallaries_path, class: "#{active?('gallaries') }"  %></li>
          <li><%= link_to 'Contact', contacts_path, class: "#{active?('contacts')}"  %></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

    <%= yield %>
   <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Farhan Iqbal Academy</h3>
            <p>
              445 L-Block Johar Town <br>
              Lahore<br>
              Pakistan<br><br>
              <strong>Phone:</strong> +92 300 9499664<br>
              <strong>Email:</strong> farhaniqbalacademy@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <%= link_to 'Home', root_path %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to 'About us', abouts_path %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to 'Classes', classes_path %></li>
              <li><i class="bx bx-chevron-right"></i> <%= link_to 'Admissions', admissions_path %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  <div class="container d-md-flex py-4">
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  </body>
</html>
